DRILL_METABASE_DASHBOARDS_VERSION=0.9.0
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_USER=postgres
POSTGRES_SSL=false
METABASE_DB_NAME=db-metabase
METABASE_BASE_URL=http://localhost:8095
DRILL_UI_BASE_URL=http://localhost:8091